.App {
  text-align: center;
}

.app-frame {
  max-width: 800px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.nav-text {
  font-size: 15px !important;
}

.tasks {
  text-align: left;
}

.timestamp {
  text-align: right;
}

.form-field {
  min-width: 300px;
  margin-right: 1rem;
}
